# ==========================
# FastMCP
# ==========================
mcp

# ==========================
# Environment Variables
# ==========================
python-dotenv

# ==========================
# LLM
# ==========================
groq

# ==========================
# Token Utilities
# ==========================
tiktoken

# ==========================
# Data Processing
# ==========================
pandas
numpy

# ==========================
# Dataset Utilities
# ==========================
scikit-learn

# ==========================
# Text Processing
# ==========================
beautifulsoup4
markdown
lxml

# ==========================
# JSON Validation
# ==========================
jsonschema

# ==========================
# Models & Validation
# ==========================
pydantic

# ==========================
# Similarity
# ==========================
rapidfuzz

# ==========================
# Testing
# ==========================
pytest